<div class="col-md-2">

    <ul class="list-group" style="font-size: large;text-align: center">
        <li id="item-1" class="list-group-item">
            <a href="{{ url_for("user_detail") }}">我的个人信息</a>
        </li>
        <li id="item-2" class="list-group-item">
            <a href="{{ url_for("user_pwd") }}">修改个人密码</a>
        </li>
        <li id="item-3" class="list-group-item">
            <a href="{{ url_for("user_info") }}">修改个人资料</a>
        </li>
        <li id="item-4" class="list-group-item">
            <a href="{{ url_for("user_del") }}">注销个人账号</a>
        </li>
        <li id="item-5" class="list-group-item">
            <a href="{{ url_for("user_del") }}">我上传的相册</a>
        </li>
        <li id="item-6" class="list-group-item">

            <a href="{{ url_for("user_del") }}">我收藏的相册</a>
        </li>
        <li id="item-7" class="list-group-item">

            <a href="{{ url_for("user_del") }}">我关注的好友</a>
        </li>
        <li id="item-8" class="list-group-item">

            <a href="{{ url_for("user_del") }}">关注我的粉丝</a>
        </li>
    </ul>


</div>